/* this is where we put in all of the basic layout, decide on color, and archival stuff. 
Will be using some neocities for this */
* {
    box-sizing: border-box;
  }

header{
    text-align: center;
    background-color: blanchedalmond;
    padding: 30px;
}

nav{
    background: #f0b429;
background: linear-gradient(180deg, rgba(240, 180, 41, 1) 0%, rgba(255, 240, 120, 1) 100%);
    padding: 1.5rem;
    text-align: center;
    font-size: larger;
    
}
.container {  
    display: flex;
    flex-wrap: wrap;
  }

aside{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    position: sticky;
}
main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}