/* this is where we put in all of the basic layout, decide on color, and archival stuff. 
Will be using some neocities for this */


aside {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 22px;
    background-color: bisque;
}

main {
    background-color: beige;
    flex: 1;
    padding: 20px;
    order: 2;
}
  
#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}
